<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School Club</title>
    <link rel="stylesheet" href="../styling/styles.css">
    <link rel="stylesheet" href="../styling/cart.css">
    <link rel="stylesheet" href="../styling/sorting.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="../js/vueJs.js"></script>
    <script src="../js/lessons.js"></script>

</head>

<body>

    <div id="htmlSideOfApplication">
        <!-- the header of the app, where title will be-->
        <header class="websiteName">
            <h1 v-text="appName"></h1>


            <div class="search-bar" v-if="!isCartVisible">
                <input type="text" v-model="searchQuery" @input="filterProducts" placeholder="Search lessons...">
            </div>

            <!-- add cart view and button here -->
            <button v-on:click="toggleView" :disabled="cartItemCount === 0">
                {{ isCartVisible ? 'View Products' : 'View Cart (' + cartItemCount + ')' }}
            </button>


        </header>

        <main class="mainBody">


            <!-- Sorting Controls -->
            <div class="sort-controls" v-if="!isCartVisible">
                <div class="sort-option">
                    <p class="sortt">Sort by:</p>
                    <label><input type="radio" v-model="selectedSortAttribute"
                            value="subject"><span>Subject</span></label>
                    <label><input type="radio" v-model="selectedSortAttribute"
                            value="location"><span>Location</span></label>
                    <label><input type="radio" v-model="selectedSortAttribute" value="price"><span>Price</span></label>
                    <label><input type="radio" v-model="selectedSortAttribute"
                            value="availableInventory"><span>Spaces</span></label>
                </div>

                <div class="sort-order">
                    <p class="orderr">Order:</p>
                    <label><input type="radio" v-model="selectedSortOrder" value="asc"><span>Ascending</span></label>
                    <label><input type="radio" v-model="selectedSortOrder" value="desc"><span>Descending</span></label>
                </div>
            </div>






            <div v-if="showProduct" class="productList"> <!-- v-if to toggle between cart / products-->
                <!-- Products list -->
                <div class="lessonsCard" v-for="product in sortedAndFilteredProducts">
                    <div class="image">
                        <figure>
                            <img v-bind:src="product.image" alt="">
                        </figure>
                    </div>

                    <div class="details">
                        <h1 class="subject" v-text="product.subject"></h1>
                        <p class="location" v-text="product.location"></p>
                        <p class="description" v-html="product.description"></p>
                        <p class="price">{{product.price | formatPrice}}</p>
                        <p class="availableInventory" v-text="product.availableInventory"></p>

                        <!-- Conditional rendering for inventory status and add to cart button -->
                        <button @click="addToCart(product)" :disabled="product.availableInventory === 0"
                            class="add-to-cart-button">
                            Add to Cart
                        </button>
                        <p v-if="product.availableInventory === 0" class="out-of-stock-message">
                            This product is out of stock.
                        </p>
                    </div>
                </div>
            </div>




            <div v-if="isCartVisible" class="cartView">
                <!-- Conditional message when the cart is empty -->
                <p v-if="cart.length === 0" class="cart-empty-message">Your cart is empty</p>

                <!-- List of items in the cart -->
                <div v-else class="cart-items-container">
                    <h2 class="cart-title">Cart Items</h2>

                    <div v-for="(item, index) in cart" :key="index" class="cartItem">
                        <!-- Product Details -->
                        <h3 class="item-subject cartItem-subject">{{ item.details.subject }}</h3>
                        <p class="item-location cartItem-location">{{ item.details.location }}</p>
                        <p class="item-price cartItem-price">{{ item.totalPrice | formatPrice }}</p>

                        <!-- Cart Item Quantity and Inventory Details -->
                        <p class="item-quantity cartItem-quantity">Quantity: {{ item.quantity }}</p>
                        <p class="item-inventory cartItem-inventory">Available Inventory: {{
                            item.details.availableInventory }}</p>
                    </div>
                </div>

                <!-- Checkout Section -->
                <div class="checkout-section">
                    <h2 class="checkout-title">Checkout</h2>
                
                    <!-- Name Input -->
                    <div class="input-group name-input">
                        <label for="customerName" class="input-label">Name:</label>
                        <input type="text" id="customerName" v-model="customerName" @input="validateCheckout"
                            placeholder="Enter your name" class="checkout-input">
                        <p v-if="!isNameValid" class="error-message">Please enter a valid name.</p>
                    </div>
                
                    <!-- Phone Input -->
                    <div class="input-group phone-input">
                        <label for="phoneNumber" class="input-label">Phone Number:</label>
                        <input type="text" id="phoneNumber" v-model="phoneNumber" @input="validateCheckout"
                            placeholder="Enter your phone number" class="checkout-input">
                        <p v-if="!isPhoneValid" class="error-message">Please enter a valid phone number.</p>
                    </div>
                
                    <button @click="completeCheckout" :disabled="!isCheckoutValid"
                        class="checkout-button">Checkout</button>
                </div>
                
            </div>


        </main>
    </div>




    <script type="text/javascript">
        var after_school_club = new Vue({
            el: '#htmlSideOfApplication',
            data: {
                appName: 'After School Club',
                showProduct: true,
                products: lessonsData,
                cart: [],
                isCartVisible: false,
                selectedSortAttribute: 'subject', // Default sort attribute
                selectedSortOrder: 'asc', // Default sort order
                searchQuery: '',
                customerName: '',
                phoneNumber: '',
                isCheckoutValid: false
            },

            filters: {
                formatPrice: function (price) {
                    if (!parseInt(price)) { return "Free!"; }
                    else {
                        return '£' + price.toFixed(2);
                    }

                }
            },

            methods: {
                addToCart: function (product) {
                    if (product.availableInventory > 0) {
                        let cartItem = this.cart.find(item => item.details.subject === product.subject);

                        if (cartItem) {
                            // Increase the quantity and update the total price
                            cartItem.quantity += 1;
                            cartItem.totalPrice += product.price;
                        } else {
                            // Add the product with quantity 1 and set the totalPrice
                            this.cart.push({
                                details: product,
                                quantity: 1,
                                totalPrice: product.price
                            });
                        }
                        product.availableInventory--; // Reduce the product's inventory by one

                        // Important: Make a fresh copy of the cart to trigger reactivity
                        this.cart = [...this.cart];
                    }
                },


                toggleView: function () {
                    this.isCartVisible = !this.isCartVisible; // toggle cart visibility
                    this.showProduct = !this.showProduct; // toggle product visibility
                },
                productCanBeAdded: function (product) {
                    return product.availableInventory > 0;
                },
                validateCheckout: function () {
                    let nameRegex = /^[a-zA-Z\s]+$/;
                    let phoneRegex = /^\d+$/;

                    if (nameRegex.test(this.customerName) && phoneRegex.test(this.phoneNumber)) {
                        this.isCheckoutValid = true;
                    } else {
                        this.isCheckoutValid = false;
                    }
                },

                completeCheckout: function () {
                    if (this.isCheckoutValid) {
                        // Display confirmation message
                        alert("Order has been submitted!");

                        // Empty the cart
                        this.cart = [];

                        // Optionally: Reset the checkout form data
                        this.customerName = '';
                        this.phoneNumber = '';
                        this.isCheckoutValid = false;
                    }
                }
            },
            computed: {
                cartItemCount: function () {
                    return this.cart.reduce((total, item) => total + item.quantity, 0);
                }
                ,

                sortedAndFilteredProducts() {
                    // First filter the products
                    let filtered = this.products;
                    if (this.searchQuery) {
                        filtered = this.products.filter(product => {
                            return product.subject.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
                                product.location.toLowerCase().includes(this.searchQuery.toLowerCase());
                        });
                    }

                    // Then sort the filtered products
                    return filtered.slice().sort((a, b) => {
                        let modifier = 1;
                        if (this.selectedSortOrder === 'desc') modifier = -1;
                        if (a[this.selectedSortAttribute] < b[this.selectedSortAttribute]) return -1 * modifier;
                        if (a[this.selectedSortAttribute] > b[this.selectedSortAttribute]) return 1 * modifier;
                        return 0;
                    });
                }



            }



        })

    </script>

</body>

</html>